@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

@media (max-width: 920px) {
  header > nav > ul {
    flex-direction: column;
  }
}

.container {
  display: flex;
  width: 800px;
}

@media (min-width: 900px) {
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 5s;
}
